*{
    box-sizing: border-box;
}

body, html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family: "Open Sans", Helvetica, Arial;
}

h1,h2{
    margin:0;
    padding:0;
}

ul{
    margin:0;
    padding:0;
}

li{
    list-style-type: none;
    margin:0;
}

a{
    text-decoration: none;
    margin:0;
}

hr {
  border: 0;
  width: 100%;
  background-color:#eee;
  height: 1px;
}

.section1-content{
    text-align: center;
    color:white;
    font-size: 20px;
}

.header{
    height: 78px;
    width: 100%;
    background-color: #383E4C;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header ul{
    display: flex;
    font-size: 20px;
    margin-bottom: 5px;
}

.header li{
    padding: 10px;
}

.header a{
    color: white;
    border: 1px solid #646d7c;
    padding:12px 25px;
}

.section-1{
    background-image: url("../images/bg-1.jpg");
    width:100%;
    height: 100%;
    max-height:614px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 h1{
    font-size: 75px;
    text-shadow: 2px 2px black;
}

.section2-content{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.section2-content img{
    width:100%;
}

.green-title{
    color:#178A27;
}

.blue-title{
    color: #1686C1;
}

.grey-title{
    color: #666666;
}

.upper-content-box{
    width:25%;
    margin:30px 30px 30px 0;
    background-color: #F2F2F2;
}

.upper-content-box div{
    padding: 20px;
}

.lower-content-box{
    width:37%;
    margin:30px 30px 30px 0;
    background-color: #F2F2F2;
}

.lower-content-box div{
    padding: 20px;
}

.lower-content-box h2{
    text-align: center;
}

.upper-button-wrap{
    text-align: center;
    margin-bottom: 25px;
}

.upper-button-wrap a{
    font-size: 20px;
    color: white;
    padding:10px 25px;
    border-radius: 5px;
}

.upper-button-wrap .bt-green{
    background-color: #178A27;
}

.upper-button-wrap .bt-blue{
    background-color: #1686C1;
}

.upper-button-wrap .bt-red{
    background-color: #852406;
}

.lower-button-wrap{
    text-align: right;
    margin-bottom: 25px;
    margin-right:50px;
}

.lower-button-wrap a{
    font-size: 20px;
    color: #666666;
    padding:10px 25px;
    border-radius: 5px;
    border:1px solid #ccc;
}

.lower-button-wrap .bt-white{
    background-color: #fff;
}

.section-3{
    background-image: url("../images/bg-2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width:100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section3-header-content{
    color: white;
    text-align: center;
    margin:70px 0;
}

.section3-header-content h1{
    text-shadow: 2px 2px black;
}

.section3-main-wrapper{
    background-color: white;
    width:100%;
}

.section3-main-content{
    width:1170px;
    margin:60px auto;
    padding: 0 15px;
}

.section3-box{
    width:23%;
    margin: 0 10px;
    float:left;
    background-color: #F2F2F2;
}

.section3-box h2{
    text-align: center;
}

.section3-box p{
    padding:10px;
}

.section3-box img{
    width: 100%;
}

.section3-big-box{
    background-color: #F2F2F2;
    margin-top: 40px;
    margin-bottom: 60px;
    float: left;
}

.section3-big-box .big-box-content{
    margin:40px 0 15px 20px;
}

.section-4{
    background-image: url("../images/bg-3.jpg");
    width:100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-container{
    width: 45%;
    margin: 40px 0;
}

.contact-container h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

.contact-container .contact-content p{
    text-align: center;
    background-color: rgba(242, 242, 242, 0.4);
    padding: 30px 35px;
    border-radius: 5px;
}

.contact-form{
    display: flex;
}

.contact-form .form-input{
    display: flex;
    flex-direction: column;
    width:50%;
}

.contact-form .form-control{
    background-color: rgba(242, 242, 242, 0.4);
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contact-form .form-control::placeholder{
    font-size: 14px;
    color: black;
    opacity: 1;
}

.contact-form .form-left{
    padding-right:15px;
}

.contact-form .form-left .form-control{
    padding:10px;
    margin:10px 0;
}

.contact-form .form-left .form-control:first-child{
    margin-top: 0;
}


.contact-form .form-right{
    padding-left:15px;
}

.contact-form .form-right textarea{
    height: 155px;
}

.contact-form .form-right .form-button{
    font: inherit;
    font-size: 18px;
    padding:10px 30px;
    background-color: #262628;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
}

.footer-container{
    font: inherit;
    font-style: italic;
    color: #666;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-footer{
    width: 40%;
    text-align: center;
    margin: 40px 0;
}

footer{
    margin: 40px 0;
}
