*{
    box-sizing: border-box;
}

body, html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

h1,h2{
    margin:0;
    padding:0;
}

ul{
    margin:0;
    padding:0;
}

li{
    list-style-type: none;
    margin:0;
}

a{
    text-decoration: none;
    margin:0;
}

.section-content{
    text-align: center;
    color:white;
    font-size: 20px;
}

.header{
    height: 78px;
    width: 100%;
    background-color: #383E4C;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header ul{
    display: flex;
    font-size: 25px;
}

.header li{
    padding: 10px;
}

.header a{
    color: white;
    border: 1px solid #646d7c;
    padding:15px 25px;
}

.section-1{
    background-image: url("../images/bg-1.jpg");
    width:100%;
    height:100%;
    max-height:614px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 h1{
    font-size: 75px;
    text-shadow: 2px 2px black;
}
